glove.6B.zip
__pycache__/
.ipynb_checkpoints/
.DS_Store
env/
venv/
.idea/
.vscode/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
*.sqlite3
*.db
output/
results/
checkpoints/
data/raw/
data/processed/
data/interim/
models/ 
.venv/
coverage/html/
htmlcov/
.coverage
pytest_cache/
.cache/ 
